$body-color: grey;

body {
  background-color: pink;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  position: relative;
}

.form_wrapper {
  width: 30%;
  border: 1px solid slategrey;
  background-color: white;
  border-radius: 10px;
}

.form_header {
  border-bottom: 1px solid slategrey;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;

  label {
    display: grid;
    align-content: center;
  }

  .error {
    visibility: hidden;
    color: hotpink;
    font-size: 12px;
    line-height: 24px;
  }

  input {
    width: 250px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
  }

  textarea {
    width: 250px;
    height: 100px;
    font-family: 'Poppins', sans-serif;
  }

  button {
    margin: 20px 0 0 0;
    background-color: pink;
    padding: 4px 10px;
    height: 40px;
    cursor: pointer;
  }
}

.form_field {
  text-align: right;
}

.input_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#success_message {
  visibility: hidden;
  font-family: 'Poppins', sans-serif;
}

.modal_wrapper {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal_window {
  position:fixed;
  height: 100px;
  top: 50%;
  left: 50%;
  border: 1px solid slategrey;
  background-color: white;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 2;

  .modal_header {
    border-bottom: 1px solid slategrey;
    padding: 10px;
    text-align: right;
  }

  .modal_body {
    padding: 10px;
  }

  #close_modal {
    padding: 0 4px;
    cursor: pointer;
    font-weight: 800;
  }
}